body {
     margin: 0;
     padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #B4CF66;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 30px;
    font-size: 25px;
    position: fixed;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px black;
    padding: 16px;
    background-color: #FF5A33;
}

nav > a{
    color: black;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: #FF5A33;
}

h1 {
    color: #44803F;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

table {
    display: grid;

}

tr:nth-child(even) {
    background-color: rgb(186, 186, 186);
}
